<div>
    <div class="card">
        <div class="card card-default">
            <div class="card-body">
                <div class="card-header">
                    Obtener token y luego data
                </div>
                <form [formGroup]="registerForm">
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="obtenerToken()">Obtener token</button>
                        <input formControlName="inputtoken" id="iToken" name="nToken" value="" class="form-control" />
                    </div>
                    
                    <button class="btn btn-primary" (click)="obtenerUsuarios()">Mostrar usuarios</button>
                    <button class="btn btn-primary" (click)="obtenerUsuariosSinToken()">Mostrar usuarios sin token</button>
                    <div class="form-group">
                        <label>
                            Ingrese nombre
                        </label>
                        <input formControlName="nombre" class="form-control" />
                    </div>
                    <button class="btn btn-secondary" type="button" (click)="obtenerUsuariosAPI2Name()">Mostrar usuarios api 2 name</button>
                    <button class="btn btn-info" type="button" (click)="obtenerUsuariosAPI2Id()">Mostrar usuarios api 2 id</button>
                </form>

            </div>
        </div>
    </div>

</div>
